*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
    color:#fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #39297b;
}
.container{
    position: relative;
}
.clock{
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:300px;
    border-radius:50%;
    background-color: rgba(41, 38, 38, 0.3);
    border: 3px solid rgba(41, 38, 38, 0.5);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
}
.clock span{
    position: absolute;
    /* 360/12=30deg */
    transform:rotate(calc(30deg * var(--i))); 
    /* inset is use for rotation */
    inset:12px;
    text-align: center;
}
.clock span b{
    transform:rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size:20px;
}
.clock::before{
    content: '';
    position: absolute;
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color:#fff;
    z-index:2;
}
.hand{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position:absolute;
    background-color: var(--clr);
    width:4px;
    height:var(--h);
    border-radius: 8px;
}